<h3>Post Form</h3>

<%= form_for(@post) do |u|%>
  <label>Post title:</label>  <br>
  <%=u.text_field :title%>    <br>

  <label>Post description:</label>  <br>
  <%=u.text_area :description%>     <br>

  <%=u.submit%>
<%end%>